<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW2 - Update Book</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h2>Update Book</h2>
    <form action="/update" method="POST">
        <input type="number" name="id" placeholder="Enter book ID" required>
        <input type="text" name="title" placeholder="Enter new title" required>
        <input type="text" name="author" placeholder="Enter new author" required>
        <button type="submit">Update Book</button>
    </form>


</body>

</html>